.header {
  background-color: #024731;
  height: 50px;
  vertical-align: middle;
}

.text {
  color: #f1f1f1;
}

.bg-body-tertiary {
  background-color: #024731 !important;
}

.bi bi-house-fill {
  color: white !important;
}
